<a href="https://colab.research.google.com/github/tylerscott3/CS290/blob/main/ForestFires.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install ucimlrepo

Collecting ucimlrepo
  Downloading ucimlrepo-0.0.7-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: certifi>=2020.12.5 in /usr/local/lib/python3.10/dist-packages (from ucimlrepo) (2024.8.30)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)
Downloading ucimlrepo-0.0.7-py3-none-any.whl (8.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.7

In [ ]:
import pandas as pd
import math

In [ ]:
from ucimlrepo import fetch_ucirepo

# fetch dataset
algerian_forest_fires = fetch_ucirepo(id=547)

# data (as pandas dataframes)
X = algerian_forest_fires.data.features
y = algerian_forest_fires.data.targets

# metadata
print(algerian_forest_fires.metadata)

# variable information
print(algerian_forest_fires.variables)

{'uci_id': 547, 'name': 'Algerian Forest Fires', 'repository_url': 'https://archive.ics.uci.edu/dataset/547/algerian+forest+fires+dataset', 'data_url': 'https://archive.ics.uci.edu/static/public/547/data.csv', 'abstract': 'The dataset includes 244 instances that regroup a data of two regions of Algeria.', 'area': 'Biology', 'tasks': ['Classification', 'Regression'], 'characteristics': ['Multivariate'], 'num_instances': 244, 'num_features': 14, 'feature_types': ['Real'], 'demographics': [], 'target_col': ['Classes  '], 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2019, 'last_updated': 'Tue Mar 19 2024', 'dataset_doi': '10.24432/C5KW4N', 'creators': [' Faroudja Abid'], 'intro_paper': {'ID': 325, 'type': 'NATIVE', 'title': ' Predicting Forest Fire in Algeria Using Data Mining Techniques: Case Study of the Decision Tree Algorithm', 'authors': 'Faroudja Abid, N.Izeboudjen', 'venue': 'Ezziyyani M. (eds) Advanced Intelligent Systems for Sustainable Development (AI2SD’2019). Advances in Intelligent Systems and Computing', 'year': 2020, 'journal': None, 'DOI': None, 'URL': 'https://rdcu.be/doIk7', 'sha': None, 'corpus': None, 'arxiv': None, 'mag': None, 'acl': None, 'pmid': None, 'pmcid': None}, 'additional_info': {'summary': 'The dataset includes 244 instances that regroup a data of two regions of Algeria,namely the Bejaia region located in the northeast of Algeria and the Sidi Bel-abbes region located in the northwest of Algeria.\r\n\r\n122 instances for each region. \r\n\r\nThe period from June 2012 to September 2012. \r\nThe dataset includes 11 attribues and 1 output attribue (class)\r\nThe 244 instances have been classified into â€˜fireâ€™ (138 classes) and â€˜not fireâ€™ (106 classes) classes.', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': "1. Date : (DD/MM/YYYY) Day, month ('june' to 'september'), year (2012)\r\nWeather data observations \r\n2. Temp : temperature noon (temperature max)  in Celsius degrees: 22 to 42\r\n3. RH : Relative Humidity in %: 21 to 90 \r\n4. Ws :Wind speed in km/h: 6 to 29 \r\n5. Rain: total day in mm: 0 to 16.8\r\nFWI Components  \r\n6. Fine Fuel Moisture Code (FFMC) index from the FWI system: 28.6 to 92.5 \r\n7. Duff Moisture Code (DMC) index from the FWI system: 1.1 to 65.9 \r\n8. Drought Code (DC) index from the FWI system:  7 to 220.4\r\n9. Initial Spread Index (ISI) index from the FWI system: 0 to 18.5 \r\n10. Buildup Index (BUI) index from the FWI system: 1.1 to 68\r\n11. Fire Weather Index (FWI) Index: 0 to 31.1\r\n12. Classes: two classes, namely   â€œFireâ€\x9d and â€œnot Fireâ€\x9d\r\n", 'citation': None}}
           name     role         type demographic               description  \
0        region  Feature  Categorical        None  Bejaia or Sidi-Bel Abbes
1           day  Feature      Integer        None                      None
2         month  Feature      Integer        None                      None
3          year  Feature      Integer        None                      None
4   Temperature  Feature      Integer        None          temperature noon
5            RH  Feature      Integer        None         relative humidity
6            Ws  Feature      Integer        None                wind speed
7         Rain   Feature   Continuous        None                      None
8          FFMC  Feature   Continuous        None   Fine Fuel Moisture Code
9           DMC  Feature   Continuous        None        Duff Moisture Code
10           DC  Feature   Continuous        None              Drought Code
11          ISI  Feature   Continuous        None      Initial Spread Index
12          BUI  Feature   Continuous        None             Buildup Index
13          FWI  Feature   Continuous        None        Fire Weather Index
14    Classes     Target  Categorical        None                      None

   units missing_values
0   None             no
1   None             no
2   None             no
3   None             no
4      C             no
5      %             no
6   km/h             no
7     mm             no
8   None             no
9   None             no
10  None             no
11  None             no
12  None             no
13  None             no
14  None             no

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          45211 non-null  int64
 1   job          44923 non-null  object
 2   marital      45211 non-null  object
 3   education    43354 non-null  object
 4   default      45211 non-null  object
 5   balance      45211 non-null  int64
 6   housing      45211 non-null  object
 7   loan         45211 non-null  object
 8   contact      32191 non-null  object
 9   day_of_week  45211 non-null  int64
 10  month        45211 non-null  object
 11  duration     45211 non-null  int64
 12  campaign     45211 non-null  int64
 13  pdays        45211 non-null  int64
 14  previous     45211 non-null  int64
 15  poutcome     8252 non-null   object
dtypes: int64(7), object(9)
memory usage: 5.5+ MB

In [ ]:
Y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 649 entries, 0 to 648
Series name: Dropped_Out
Non-Null Count  Dtype
--------------  -----
649 non-null    bool
dtypes: bool(1)
memory usage: 777.0 bytes

In [ ]:
df= pd.concat([X,y], axis=1)

In [ ]:
df.nunique()

region           2
day             31
month            4
year             1
Temperature     19
 RH             62
 Ws             18
Rain            39
FFMC           173
DMC            166
DC             198
ISI            106
BUI            174
FWI            126
Classes          8
dtype: int64

In [ ]:
df.head(10)

,region,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,Bejaia,1,6,2012,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,Bejaia,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,not fire
2,Bejaia,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,Bejaia,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0,not fire
4,Bejaia,5,6,2012,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,not fire
5,Bejaia,6,6,2012,31,67,14,0.0,82.6,5.8,22.2,3.1,7.0,2.5,fire
6,Bejaia,7,6,2012,33,54,13,0.0,88.2,9.9,30.5,6.4,10.9,7.2,fire
7,Bejaia,8,6,2012,30,73,15,0.0,86.6,12.1,38.3,5.6,13.5,7.1,fire
8,Bejaia,9,6,2012,25,88,13,0.2,52.9,7.9,38.8,0.4,10.5,0.3,not fire
9,Bejaia,10,6,2012,28,79,12,0.0,73.2,9.5,46.3,1.3,12.6,0.9,not fire

In [ ]:
df['Classes  '].nunique()

8

In [ ]:
def